html {
    display: block;
}

* {
    margin: 0;
}

body {
    background-color: #e6ecf0;
    color: white;
    text-align: center;
}

#title {
    background-color: #fd692f;
    display: block;
    padding: 10vh;
    margin-bottom: 8vh;
}

.doggy {
    margin: auto;
    width: 10vh;
}

.center_img {
    margin:auto;
}

article {
    padding: 1vh;
}

img {
    display: block;
}

div {
    display: block;
}

.badges  {
    display: flex;
    justify-content: center;
    padding: 5vh;
}

.badges > img {
    width: 320px;
    /* margin: auto;  
	display: block;
    max-width: 20%;
    max-height: 20%; */
}
